html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

/* nav container */
#main-nav {
  height: 120px;
  width: 100%;
  position: fixed;
  line-height: 120px;
  text-align: right;
  background-color: #F2EEEB;
  z-index: 1000;
}

#main-nav-content {
  margin: 0 auto;
}

#logo {
  height: 120px;
  width: 120px;
  position: absolute;
}

#logo a {
  display: block;
  height: 120px;
  width: 120px;
}

#logo a img {
  display: block;
  margin: 0;
  padding: 0;
  height: 50px;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
}

#nav-regular {
  display: inline-block;
  padding: 0;
  margin: 0;
  line-height: 1em;
  margin-right: 50px;
}

#nav-regular .nav-block {
  display: inline-block;
  margin: 0 30px;
}

#nav-regular .nav-block .nav-button {
  display: inline-block;
  position: relative;
  font-size: 1em;
  font-weight: 300;
  padding: 5px 0;
  letter-spacing: .2em;
}

.nav-button a {
  text-decoration: none;
  color: #042440;
}

.nav-button:hover {
  cursor: pointer;
}

/* cover container */
#cover {
  position: relative;
  height: 100%;
}

#coverBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 150px;
}

#coverName,
#coverDescription {
  position: relative;
  text-align: center;
  top: 25%;
}

.slantedDivCover {
  position: absolute;
  width: 100%;
  height: 500px;
  bottom: 0;
  transform: translateY(80%);
}

.slantedDivCover:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: #F2EEEB;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(-7deg);
}

#coverBox h2 {
  color: #042440;
  margin-top: 15px;
  font-size: 1.2em;
  font-weight: 100;
}

#coverName img {
  width: 160px;
  height: 160px;
}

.section-header {
  font-size: 1.6em;
}

#hamburgerMenu {
  margin: 0;
  width: 50px;
  height: 25px;
  position: absolute;
  top: 50%;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.bar {
  background-color: #042440;
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px auto;
  padding: 0;
  position: relative;
}

#hamburgerMenu:hover {
  cursor: pointer;
}

/* about container */
#about {
  height: 100%;
  position: relative;
  color: #042440;
}

#aboutContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F2EEEB;
  overflow: hidden;
}

#profileImageHolder {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 400px;
  overflow: hidden;
}

#aboutContent {
  position: absolute;
  color: #042440;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 400px;
  transform: translateX(-50%);
}

#aboutContent h2 {
  text-align: center;
  font-size: 3em;
}

#aboutContent p {
  font-size: 1.25em;
  line-height: 150%;
  font-weight: 400;
}

.profileImage {
  width: 100%;
  height: auto;
}

/* skills container */
#skills {
  height: 50%;
  position: relative;
  color: #042440;
}

#skillsContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

#skillsList {
  position: relative;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}

#skillsList h2 {
  position: relative;
  text-align: center;
}

#skillsList p {
  position: relative;
  font-size: 1.1em;
}

#skillsShowcase {
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}

#skillsShowcase svg {
  width: 64px;
}

#contactRow {
  position: relative;
  margin-top: 5em;
}

#viewResumeButton {
  display: inline-block;
  position: relative;
  width: 180px;
  height: 70px;
  background-color: #F2EEEB;
  color: #042440;
  line-height: 70px;
  text-align: center;
  font-weight: 700;
  font-size: 1.2em;
}

#viewResumeButton a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #042440;
  text-decoration: none;
}

#socialIcons {
  display: inline-flex;
  position: absolute;
  width: 120px;
  height: 70px;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  margin-left: 10px;
}

#socialIcons a {
  text-decoration: none;
  color: #042440;
}

#contactRow a:hover {
  cursor: pointer;
}

/* works container */
#works {
  height: auto;
  position: relative;
  color: #F2EEEB;
  background-color: #042440;
  /* overflow: hidden; */
}

#worksHeader {
  text-align: center;
  margin: 0;
  padding-top: 50px;
  font-size: 3em;
}

#worksBox {
  position: relative;
  width: 100%;
  left: 50%;
  top: 3em;
  transform: translateX(-50%);
  background-color: #042440;
}

.githubButton {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 50px;
  background-color: #F2EEEB;
  line-height: 50px;
  text-align: center;
  font-weight: 700;
  margin-top: 1em;
}

.githubButton a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #042440;
  text-decoration: none;
}

.githubButton a:hover {
  cursor: pointer;
}

/* viz-money article */
#vizMoneyContainer {
  position: relative;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 7em;
}

#vizMoneyImageHolder img {
  width: 100%;
  height: auto;
}

#vizMoneyTitle {
  font-size: 1.25em;
}

/* terra article */
#terraContainer {
  position: relative;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 7em;
}

#terraShow img {
  width: 100%;
  height: auto;
}

#terraDescription {
  position: relative;
}

#terraTitle {
  position: relative;
}

/* flappy bird article */
#flappyBirdContainer {
  position: relative;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 7em;
}

.flappyBirdImageHolder {
  position: relative;
  width: 300px;
  height: 400px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

/* yes mi lord article */
#yesMiLordContainer {
  position: relative;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  /* margin-bottom: 7em; */
}


.slantedDivWorks {
  position: absolute;
  width: 100%;
  height: 500px;
  bottom: 0;
  transform: translateY(55%);
  z-index: -1;
}

.slantedDivWorks:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: #042440;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top right;
  transform: skewY(7deg);
}

/* contact container */
#contact {
  position: relative;
  height: 100%;
}

#contactContainer {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#contactTitle {
  position: relative;
  font-size: 3em;
  text-align: center;
  color: #042440;
  margin-bottom: 2em;
}

#contactIcons {
  position: relative;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#contactIcons a {
  color: #042440;
}

#viewResumeButtonContact {
  position: relative;
  margin-top: 1em;
  width: 150px;
  height: 50px;
  background-color: #F2EEEB;
  color: #042440;
  line-height: 50px;
  text-align: center;
  font-weight: 700;
  left: 50%;
  transform: translateX(-50%);
}

#viewResumeButtonContact a {
  width: 100%;
  height: 100%;
  color: #042440;
  text-decoration: none;
}
