html,
body {
  scroll-behavior: smooth;
  height: 100%;
}
/* nav container */
#main-nav {
  height: 120px;
  width: 100%;
  position: fixed;
  line-height: 120px;
  text-align: right;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1000;
}

#main-nav-content {
  background-color: rgba(35, 140, 45, 1);
  margin: 0 auto;
}

#logo {
  height: 120px;
  position: absolute;
  margin-left: 80px;
}

#logo a {
  text-decoration: none;
  font-size: 1.75em;
  letter-spacing: 0.214286em;
}

#nav-regular {
  display: inline-block;
  padding: 0;
  margin: 0;
  line-height: 1em;
  margin-right: 50px;
}

#nav-regular .nav-block {
  display: inline-block;
  margin: 0 30px;
}

#nav-regular .nav-block .nav-button {
  display: inline-block;
  position: relative;
  /* top: 50px; */
  font-size: 1em;
  font-weight: 300;
  padding: 5px 0;
  letter-spacing: .2em;
}

.nav-button:hover {
  cursor: pointer;
}

/* cover container */
#cover {
  position: relative;
  height: 100%;
}

#coverBox {
  background-color: hotpink;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 150px;
}

#coverName,
#coverDescription {
  position: relative;
  text-align: center;
  top: 25%;
}

#coverBox h1 {
  margin: 0;
  font-size: 4em;
}

#coverBox h2 {
  margin: 0;
  font-size: 1.2em;
  font-weight: 100;
}

.section-header {
  font-size: 1.6em;
}

/* about container */
#about {
  height: 100%;
  position: relative;
}

#aboutContainer {
  position: absolute;
  width: 83.33%;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(15, 25, 50, .9);
}

#profileImageHolder {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, .3);
}

#aboutContent {
  background-color: darkviolet;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 400px;
  transform: translateY(-50%);
}

#aboutContent p {
  font-size: 1.25em;
  margin-top: 90px;
  line-height: 150%;
  font-weight: 100;
}

.profileImage {
  width: 100%;
  height: auto;
}

/* skills container */
#skills {
  height: 100%;
  position: relative;
}

#skillsContainer {
  background-color: rgba(218, 164, 49, .7);
  position: absolute;
  width: 900px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#skillsList {
  position: absolute;
  left: 0;
  top: 50%;
  height: 250px;
  transform: translateY(-50%);
}

#skillsList h2 {
  position: relative;
}

#skillsList p {
  position: relative;
  font-size: 1.25em;
  font-weight: 100;
}

#skillsShowcase {
  position: absolute;
  height: 250px;
  width: 500px;
  right: 0;
  background-color: #333;
}
/* works container */
#works {
  height: 100%;
  position: relative
}

/* contact container */
#contact {
  height: 100%;
}

mustard {
  background-color: rgba(218, 164, 49, .7); 
}