html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

/* nav container */
#main-nav {
  height: 120px;
  width: 100%;
  position: fixed;
  line-height: 120px;
  text-align: right;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1000;
}

#main-nav-content {
  margin: 0 auto;
}

#logo {
  height: 120px;
  position: absolute;
  margin-left: 80px;
}

#logo a {
  text-decoration: none;
  font-size: 1.75em;
  letter-spacing: 0.214286em;
  color: #333;
}

#nav-regular {
  display: inline-block;
  padding: 0;
  margin: 0;
  line-height: 1em;
  margin-right: 50px;
}

#nav-regular .nav-block {
  display: inline-block;
  margin: 0 30px;
}

#nav-regular .nav-block .nav-button {
  display: inline-block;
  position: relative;
  /* top: 50px; */
  font-size: 1em;
  font-weight: 300;
  padding: 5px 0;
  letter-spacing: .2em;
}

.nav-button a {
  text-decoration: none;
  color: #333;
}

.nav-button:hover {
  cursor: pointer;
}

/* cover container */
#cover {
  position: relative;
  height: 100%;
}

#coverBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 150px;
}

#coverName,
#coverDescription {
  position: relative;
  text-align: center;
  top: 25%;
}

#coverBox h1 {
  margin: 0;
  font-size: 4em;
}

#coverBox h2 {
  margin: 0;
  font-size: 1.2em;
  font-weight: 100;
}

.section-header {
  font-size: 1.6em;
}

/* about container */
#about {
  height: 100%;
  position: relative;
}

#aboutContainer {
  position: absolute;
  width: 83.33%;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#profileImageHolder {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, .3);
}

#aboutContent {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 400px;
  transform: translateY(-50%);
}

#aboutContent p {
  font-size: 1.25em;
  margin-top: 90px;
  line-height: 150%;
  font-weight: 100;
}

.profileImage {
  width: 100%;
  height: auto;
}

/* skills container */
#skills {
  height: 100%;
  position: relative;
}

#skillsContainer {
  position: absolute;
  width: 900px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#skillsList {
  position: absolute;
  left: 0;
  top: 50%;
  height: 250px;
  transform: translateY(-50%);
}

#skillsList h2 {
  position: relative;
}

#skillsList p {
  position: relative;
  font-size: 1.25em;
  font-weight: 100;
}

#skillsShowcase {
  position: absolute;
  height: 250px;
  width: 500px;
  right: 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.5);
}

#skillsShowcase svg {
  width: 64px;
}

/* works container */
#works {
  height: 100%;
  position: relative
}

#worksBox {
  position: absolute;
  width: 900px;
  height: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#worksContainer {
  position: relative;
}

#worksHeader {
  position: absolute;
  margin: 0;
  left: 50%;
  margin-top: -50px;
}

#worksShowcase {
  position: absolute;
  width: 45%;
  height: 300px;
}

#worksList {
  position: absolute;
  height: 300px;
  left: 50%;
  width: 50%;
}

#worksList h3 {
  font-size: 1.5em;
  font-weight: 100;
}

#worksList p {
  font-weight: 100;
}

#works a {
  color: #333;
}

#works .worksImageHolder {
  display: inline-block;
  height: 100%;
  width: 100%;
}

#works .worksImageHolder a {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#works .worksImageHolder img {
  height: auto;
  width: auto;
  box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.5);
  border-radius: 5px;
}

/* works-miLord container */
#works-miLord {
  height: 100%;
  position: relative
}

#worksContainer-miLord {
  position: absolute;
  width: 900px;
  height: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#worksShowcase-miLord {
  position: absolute;
  width: 45%;
  height: 300px;
  right: 0;
}

#worksList-miLord {
  position: absolute;
  height: 300px;
  width: 50%;
}

#worksList-miLord h3 {
  font-size: 1.5em;
  font-weight: 100;
}

#worksList-miLord p {
  font-weight: 100;
}

#works-miLord a {
  color: #333;
}

#works-miLord .worksImageHolder {
  display: inline-block;
  height: 100%;
  width: 100%;
}

#works-miLord .worksImageHolder a {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#works-miLord .worksImageHolder img {
  height: 400px;
  width: auto;
  box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.5);
  border-radius: 5px;
}

/* works-vizMoney container */
#works-vizMoney {
  height: 100%;
  position: relative
}

#worksContainer-vizMoney {
  position: absolute;
  width: 900px;
  height: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#worksShowcase-vizMoney {
  position: absolute;
  width: 30%;
  height: 300px;
}

#worksList-vizMoney {
  position: absolute;
  height: 300px;
  width: 50%;
  left: 50%;
}

#worksList-vizMoney h3 {
  font-size: 1.5em;
  font-weight: 100;
}

#worksList-vizMoney p {
  font-weight: 100;
}

#works-vizMoney a {
  color: #333;
}

#works-vizMoney .worksImageHolder {
  display: inline-block;
  height: 100%;
  width: 100%;
}

#works-vizMoney .worksImageHolder a {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#works-vizMoney .worksImageHolder img {
  height: auto;
  width: 500px;
  box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.5);
  border-radius: 5px;
}

/* works-terra container */
#works-terra {
  height: 100%;
  position: relative
}

#worksContainer-terra {
  position: absolute;
  width: 900px;
  height: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#worksShowcase-terra {
  position: absolute;
  width: 45%;
  height: 300px;
  right: 0;
}

#worksList-terra {
  position: absolute;
  height: 300px;
  width: 50%;
}

#worksList-terra h3 {
  font-size: 1.5em;
  font-weight: 100;
}

#worksList-terra p {
  font-weight: 100;
}

#works-terra a {
  color: #333;
}

#works-terra .worksImageHolder {
  display: inline-block;
  height: 100%;
  width: 100%;
}

#works-terra .worksImageHolder a {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#works-terra .worksImageHolder img {
  height: 300px;
  width: auto;
  box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.5);
  border-radius: 5px;
}

/* contact container */
#contact {
  height: 100%;
  position: relative;
}

#contactContainer {
  position: absolute;
  top: 50%;
  left: 50%;
}

#contactContainer i {
  margin-right: .2em;
}

#contactContainer a {
  color: #333;
}

.mustard {
  background-color: rgba(218, 164, 49, .7); 
}

